* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: white;
  --secondary-bg-color: #303841;
  --active-link-color: #00adb5;
  --secondary-font-family: "Open Sans", Arial, sans-serif;
}

body {
  font-family: var(--secondary-font-family);
  font-size: 14px;
}

.home {
  background-image: url("./assets/images/friends.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

header {
  background: var(--secondary-bg-color);
  position: fixed;
  width: 100%;
  height: 10vh;
  top: 0;
}

h1 {
  padding-left: 30px;
}
nav {
  color: var(--main-color);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  justify-content: space-around;
}
li {
  margin-right: 30px;
}
a {
  text-decoration: none;
  color: inherit;
}
a:active {
  color: var(--active-link-color);
}

.about {
  display: grid;
  grid-template-columns: 50vw, 50vw;
  /* width: 100vw; */
  height: 90vh;
}

.info {
  grid-column-start: 0;
  grid-column-end: 1;
  display: flex;
  width: calc(50vw);
  flex-direction: column;
  align-items: center;
  padding: 0 150px 0 150px;
}

.img {
  grid-column-start: 1;
  grid-column-end: 2;
  /* width: 50vw; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  padding: 125px 0 25px 0;
}

p {
  padding-bottom: 12.5px;
  text-align: center;
  line-height: 25px;
  font-size: 16px;
}

img {
  width: 80%;
  height: auto;
}
